*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color:black;
}

a {
  text-decoration: none
}

header{
  width: 100%;
  height: 90px;
  background-color: white;
  text-align: center
}

h1 {
  color: black;
  padding: 20px 20px;
  font: 10px 40px;
  margin: 0;
  display: inline-block
}

.by {
  color: #a7a7a7;
  font-size: 16px;
  margin: 33px 0px;
  display: inline-block
}

header a {
  color: #03b3b5;
  font-size: 22px;
  margin: 28px 10px;
  display: inline-block
}

header a:hover {
  text-decoration: underline
}

.user-card {
  width: 350px;
  height: 480px;
  margin: 70px auto;
  position: relative;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #dee3e4;
  padding: 3px 12px;
  margin: 6px 0;

}

input:focus {
  outline: none;
  border: 1px solid #03b3b5;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.login-box, .signup-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 25px);
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.login-box{
  padding: 10px 30px;
  right: 0px;
}

.signup-box{
  padding: 30px;
  right: -350px;
}

.login, .signup {
  text-align: center;
  color: #fff;
  background: black;
  line-height: 30px;
  opacity: 0.95;
}

.login:hover{
  opacity: 1;
}
.remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}
.or {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
  position: relative;
  margin: 20px 0;
}

.create {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
  position: relative;
  margin: 20px 0;
}

.or:before {
  content: 'or';
  width: 40px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: calc(50% - 20px);
  background-color: #fff;
  text-align: center;
  line-height: 10px;
  color: #555
}

.login-with-fb,.login-with-twitter,.login-with-google {
  width: 100%;
  height: 40px;
  display: block;
  margin: 15px 0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  opacity: .95;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.login-with-fb:hover, .login-with-twitter, .login-with-google:hover {
  opacity: 1;
}

.login-with-fb {
  background: #527EBF
}

.login-with-google {
  background: #DB4A37;
}
.login-with-twitter {
  background: #1dcaff;  
}
.login-with-fb .icon, .login-with-google .icon {
  float: left;
  font-size: 21px;
  width: 50px;
  height: 26px;
  margin: 7px;
  padding: 2px;
  text-align: center;
  border-right: 1px solid #fff;
}
.clear {
    clear: both;
}

/**** footer *****/

.user-card .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  color: #666;
  font-size: 13px;
  font-family: sans-serif;
}

.footer a {
  color: #03b3b5;
}

/*form {
    padding: 30px;
}


div {
    padding: 5px 0;
}
*/

/*label:not(.remember-me) {
    display: inline-block;
    min-width: 150px;
}


input:not([type="checkbox"]) {
    width: 300px;
    padding: 0.5em;
}*/


/*
button {
    padding: 0.5em 1em;
    margin-left: 154px;
}
*/