language: node_js
sudo: false
node_js:
  - "7.10.0"

install:
  - npm install
  - npm install mocha
  - npm install chai
  - npm install sinon
  - npm install axios
  - npm install cheerio
  
before_script: chmod 0777 ./node_modules/.bin/mocha 

script:
  - npm test

notifications:
  email:
    recipients:
      - mcvarona@up.edu.ph
      - huchiu@up.edu.ph
      - kamarinduque@up.edu.ph
    on_success: always 
    on_failure: always 
  slack:
    rooms:
      - theintegrationproject:0rbj2zPSRq213tltTQw2tmGY#general
      - theintegrationproject:0rbj2zPSRq213tltTQw2tmGY#random
    on_success: always 
    on_failure: always 